<a href="/feed.xml"><img src="/images/rss-24.png" class="icon"></a> <a href="/feed.xml">Subscrever novidades</a>

<h1><img src="/images/notes.png" class="icon"> Informação Geral</h1>
<strong>Quando:</strong> 6 e 7 de Setembro<br><br>
<strong>Onde:</strong> Coimbra, Portugal<br>Dep. de Engenharia Informática<br>da Universidade de Coimbra (<%= link_to "Google Maps", "http://maps.google.com/maps?ll=40.186086,-8.415313&spn=0.034687,0.090637&om=1"%>)
<% hgeo "span" do |geo| %>
	<%= geo.latitude "40.186086" %>
	<%= geo.longitude "-8.415313" %>
<% end %>
<br><br>
<strong>O quê:</strong> Apresentações, Workshops, Demonstrações<br><br>
<strong>Mailing list:</strong> <%= link_to "link", "http://groups.google.com/group/barcamp-portugal" %><br><br>

<h1><img src="/images/calendar.png" class="icon"> Agenda</h1>
<p>No que toca às apresentações, pretendemos que o Barcamp seja bastante flexível. Esta agenda é meramente informativa e pode sofrer leves alterações.<p>
<strong>6 (Sáb):</strong> Encontro: 12h30m/14h<br>
<strong>6 (Sáb):</strong> Sessões/Workshops<br>
<strong>6 (Sáb):</strong> Jantar (on-site?): 20h<br>
<strong>6 (Sáb):</strong> Sessões/Workshops<br>
<strong>6 (Sáb):</strong> Copos na alta: 22h<br>
<strong>7 (Dom):</strong> Encontro: 14h (para almoçar)<br>
<strong>7 (Dom):</strong> Sessões/Workshops (começar às 15h)<br>
<strong>7 (Dom):</strong> Despedida: 19h<br>

<h1><img src="/images/stocks.png" class="icon"> Patrocínios</h1>
<p>Se pretender patrocinar o Barcamp, basta enviar-nos um <a href="mailto:barcamp@webreakstuff.com">email</a> :)<p>
