<p>
A descrição permite o uso de Textile, uma linguagem de markup que pretende ser legível e facilmente convertível em HTML.
</p>

<h3>Alguns exemplos:</h3>

<table border="0" cellspacing="5" cellpadding="5">
	<tr><th>Textile</th>									<th>&rarr;</th>		<th>HTML</th></tr>
	<tr><td>Texto *bold*</td>								<td>&rarr;</td>		<td>Texto <strong>bold</strong></td></tr>
	<tr><td>Texto +itálico+</td>							<td>&rarr;</td>		<td>Text <em>itálico</em></td></tr>
	<tr><td>Uma lista<br/><br/>* Um item<br/>* Outro item</td>	<td>&rarr;</td>		<td>Uma lista<ul><li>Um item</li><li>Outro item</li></ul></td></tr>
	<tr><td>"Link":http://google.com</td>					<td>&rarr;</td>			<td><a href="http://google.com">Link</a></td></tr>
</table>

Para uma referência mais exaustiva, <%= textile_link "clicar aqui" %>.