html {
	background: #111 url("/images/back.png") repeat-x top center;
}

body {
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
}

#doc2 {
	width: 850px;
	margin: 0px auto;
	padding: 10px 30px;
	background: transparent;
	color: #ddd;
}

p {
	line-height: 1.5em;
}

#hd {
	padding: 2em 0;
	text-align: center;
}

#hd h2 {
	font-size: 12px;
}

#bd {
	margin-top: 50px;
}

#sb {
	padding-left: 20px;
}

#ft {
	border-top:  1px solid #222;
	padding: 15px;
	font-size: 10px;
	color: #666;
	margin-top: 15px;
	text-align: center;
}

#intro {
	padding-right: 25px;
}

#menu a {
	background: #344B6F;
	padding: 3px 5px;
	color: #fff;
	text-decoration: none;
	margin: 0px 3px;
}

#menu a:hover {
	text-decoration: underline;
}


form input[type="submit"] {
	float: right;
}

input[type="text"], input[type="password"] {
	border: 1px solid #000;
	padding: 3px 2px 2px;
	font-size: 1.1em;
	width: 200px;
}

input.wide {
	width: 400px;
}

textarea {
	border: 1px solid #000;
	padding: 3px 2px 2px;
	font-size: 1.1em;
	width: 400px;
	height: 100px;
}


a {
	/*color: #008040;*/
	color: #934B31;
}

a:hover {
	/*color: #008040;*/
	color: #973836;
}

.mb {
	margin-bottom: 15px;
}

h1 img.icon {
	margin-right: 10px;
}

img.icon {
	vertical-align: middle;
}

#openid_url {
	background: url(/images/openid.gif) no-repeat #FFF 5px;
	padding-left: 25px;
}

.error {
	background: #FFADB0;
	border: 1px solid #FF4845;
	padding: 4px 3px 3px;
}

.success {
	background: #CEFFCB;
	border: 1px solid #008040;
	padding: 4px 3px 3px;
}

/* utilities */
.fr{float:right;}
.ar{text-align:right;}
.fl{float:left;}
.al{text-align:left;}
.ac{text-align:center;}

/** Microformats hCard **/
li.vcard {
  list-style-type: none;
  margin-bottom: 5px;
}

.vcard .fn {
  font-size: 1.1em;
}

.vcard * {
  vertical-align: middle;
}

.vcard .photo {
  margin-right: 5px;
}

/** comments **/
.comment {
  background: #222;
  margin: 5px auto;
  padding: 0px;
  width: 95%;
}

.comment .avatar {
  float:left;
  background: #fff;
  color: #000;
  padding: 3px;
  text-align: center;
}

.comment .avatar a {
  text-decoration: none;
  color: #000;
}

.comment .body {
  float:left;
  padding: 10px;
}

.clearfix:after { 
  content: "."; 
  display: block; 
  height: 0;  
  clear: both;  
  visibility: hidden;
}

.haslayout {
  height: 1%;
}