html {
	background: #111 url("/images/back.png") repeat-x top center;
}

body {
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
}

#doc2 {
	width: 850px;
	margin: 0px auto;
	padding: 10px 30px;
	background: transparent;
	color: #ddd;
}

p {
	line-height: 1.5em;
}

#hd {
	padding: 2em 0;
	text-align: center;
}

#hd h2 {
	font-size: 12px;
}

#bd {
	margin-top: 50px;
}

#sb {
	padding-left: 20px;
}

#ft {
	border-top:  1px solid #222;
	padding: 15px;
	font-size: 10px;
	color: #666;
	margin-top: 15px;
	text-align: center;
}

#intro {
	padding-right: 25px;
}

#menu a {
	background: #344B6F;
	padding: 3px 5px;
	color: #fff;
	text-decoration: none;
	margin: 0px 3px;
}

#menu a:hover {
	text-decoration: underline;
}

.form {
  background: #444;
  padding: 20px 20px 10px;
  float: left;
  width: 90%;
}

.form a, .form a:visited {
  color: #ddd;
}

.form a:hover {
  color: #aaa;
}

form input[type="submit"] {
	float: right;
}

input[type="text"], input[type="password"] {
	border: 1px solid #000;
	padding: 3px 2px 2px;
	font-size: 1.1em;
	width: 200px;
}

input.wide {
	width: 400px;
}

textarea {
	border: 1px solid #000;
	padding: 3px 2px 2px;
	font-size: 1.1em;
	width: 400px;
	height: 100px;
}

a {
	/*color: #934B31;*/
	/*color: #008040;*/
  color: #FFC;
}

a:hover {
	/*color: #008040;*/
	color: #973836;
}

h1 img.icon {
	margin-right: 10px;
}

img.icon {
	vertical-align: middle;
}

#openid_url {
	background: url(/images/openid.gif) no-repeat #FFF 5px;
	padding-left: 25px;
}

.error {
	background: #FFADB0;
	border: 1px solid #FF4845;
	padding: 4px 3px 3px;
	color: #000;
	width: 95%;
}

.success {
	background: #CEFFCB;
	border: 1px solid #008040;
	padding: 5px;
	color: #111;
  width: 95%;
}

/* utilities */
.fr{float:right;}
.ar{text-align:right;}
.fl{float:left;}
.al{text-align:left;}
.ac{text-align:center;}
.mb{margin-bottom: 15px;}

/** Microformats hCard **/
li.vcard {
  list-style-type: none;
  margin-bottom: 5px;
}

.vcard .fn {
  font-size: 1.1em;
}

.vcard * {
  vertical-align: middle;
}

.vcard .photo {
  margin-right: 5px;
}

li.photo {
  list-style-type: none;
  margin-bottom: 5px;
}

.photo * {
  vertical-align: middle;
}

.photo img {
  margin-right: 5px;
}

/** comments **/
.comment {
  border-left: 5px solid #333;
  padding-left: 5px;
  background: #222;
  padding-top: 3px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 10px;
}

.comment .avatar {
  text-decoration: none;
  color: #CC9;
}

.comment .commenter {
  font-size: 0.9em;
  border-bottom: 1px dotted #ccc;
  width: 95%;
}

.comment p.body {
  margin-bottom: 0px;
  padding: 3px 5px;
}

.clearfix:after { 
  content: "."; 
  display: block; 
  height: 0;  
  clear: both;  
  visibility: hidden;
}

.haslayout {
  height: 1%;
}

.leftbar {
  border-left: 5px solid #333;
  padding-left: 5px;
  background: #222;
  padding-top: 1px;
  width: 100%;
  margin-bottom: 10px;
}

.leftbar h3, .leftbar h1, .leftbar h2 {
  margin-top: 5px;
  margin-bottom: 3px;
  width: 95%;
  border-bottom: 1px dotted #ccc;

}

.leftbar.narrow {
  width: 95%;
}

.leftbar h1.talk {
  border:none;
  margin-top: 3px;
}

.leftbar h2.smaller {
  font-size: 0.9em;
  border-bottom: 1px dotted #ccc;
}

.leftbar p {
  margin: 0px;
  margin-top: 10px;
}