html {
  background: #344B6F;
}

body {
  font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
}

#doc2 {
  border-width: 0px 4px 4px;
  border-style: solid;
  border-color: #7787A2;
  margin: 0px auto;
  padding: 10px 30px;
  background: #fff url(/images/grad.gif) repeat-x;
}

#hd {
  text-align: center;
}

#bd {
  margin-top: 50px;
}

#sb {
  border-left: 1px dotted #B8D2FF;
  padding-left: 20px;
}

#ft {
  border-top: 1px solid #7787A2;
  padding-top: 8px;
  margin-top: 15px;
  text-align: right;
}

#intro {
  padding-right: 15px;
}

#menu a {
  background: #344B6F;
  padding: 3px 5px;
  color: #fff;
  text-decoration: none;
  margin: 0px 3px;
}

#menu a:hover {
  text-decoration: underline;
}

/*
//*fieldset#regular_login, fieldset#openid_login {
//*  height: 7em; 
//*}
* 
fieldset {
  text-align: right;
}
*/
form input[type="submit"] {
  float: right;
}

input[type="text"], input[type="password"] {
  border: 1px solid #000;
  padding: 3px 2px 2px;
  font-size: 1.1em;
  width: 200px;
}

input.wide {
  width: 400px;
}

textarea {
  border: 1px solid #000;
  padding: 3px 2px 2px;
  font-size: 1.1em;
  width: 400px;
  height: 100px;
}


a {
  /*color: #008040;*/
  color: #934B31;
}

a:hover {
  /*color: #008040;*/
  color: #973836;
}

.mb {
  margin-bottom: 15px;
}

h1 img.icon {
  margin-right: 10px;
}

img.icon {
  vertical-align: middle;
}

#openid_url {
  background: url(/images/openid.gif) no-repeat #FFF 5px;
  padding-left: 25px;
}

.error {
  background: #FFADB0;
  border: 1px solid #FF4845;
  padding: 4px 3px 3px;
}

.success {
  background: #CEFFCB;
  border: 1px solid #008040;
  padding: 4px 3px 3px;
}

/* utilities */
.fr{float:right;}
.ar{text-align:right;}
.fl{float:left;}
.al{text-align:left;}
.ac{text-align:center;}