	<div class="yui-u first">
		<h2><img src="/images/phone.png" class="icon"> Users inscritos</h2>
		<ul>
			<%= render :partial => "user", :collection => @users %>
		</ul>
	</div>
	<div class="yui-u">
		<h2><img src="/images/text.png" class="icon"> Sessões propostas</h2>
		<ul>
			<%= render :partial => "talks/talk", :collection => @talks %>
		</ul>
	</div>