<h1><%= @event.name %></h1>
<p><%= @event.description %></p>

<div class="yui-g">
	<div class="yui-u">
		<h2>Talks propostas</h2>
		<ul>
			<%= render :partial => "talk", :collection => @talks %>
		</ul>
	</div>
	<div class="yui-u first">
		<h2>Users inscritos</h2>
		<ul>
			<%= render :partial => "user", :collection => @users %>
		</ul>
	</div>
</div>