<iframe frameborder="0" scrolling="yes" width="452" height="900" src="http://barcamp.questionform.com/embed/2008">
<a href="http://barcamp.questionform.com/public/2008"> http://barcamp.questionform.com/public/2008 </a>
</iframe>