<h1>Password reset</h1>

<div id="regular_signup" class="al form">
	<a href="/login/openid"><img src="/images/openid.gif" class="icon"></a> <a href="/login/openid">Usar OpenID</a><br><br>

	<% form_for :user, :method => :post do |f| -%>
	<fieldset class="mb">
		<p>
			<label for="email">Email:</label><br>
			<%= f.text_field :email %> <%= flash_message :email_errors, :error, :span %>
		</p>
	</fieldset>

	<p><%= submit_tag 'Submit &raquo;' %></p>
	<% end -%>
</div>